body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #eb345e; /* 3a3b3c */
    color: white;
    justify-content: space-between; /* Distribute space between items */
    padding: 0px 20px; /* Add padding to the sides */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 30px;
    flex-grow: 1; /* Allow the content to grow and center */
}

.home-icon {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.5em; /* Adjust size as needed */
    color: white; /* Set color for the icon */
}

h1 {
    text-align: center;
    margin-right: 20px;
}

.search-container {
    position: relative;
    display: inline-block; /* Ensure it fits the content */
}

#searchBox {
    padding: 5px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    min-width: 150px;
    max-width: 25vw;
    border-radius: 10px;
    border: 2px solid #d4d4d4;
    font-family: 'Nunito';
}

svg {
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 2px);
}

a {
    text-decoration: none;
    color: inherit;
}

.black-bar {
    width: 100%;
    height: 2px;
    background-color: black;
}

.autocomplete-items {
    position: absolute;
    border: 2px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background-color: white;
    border-radius: 10px;
    z-index: 1000; /* Ensure it appears above other elements */
    top: 100%; /* Position it right below the search box */
    left: 0;
    width: 100%; /* Make it match the width of the search box */
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 2px solid #d4d4d4; 
    color: black;
}

.autocomplete-items div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.autocomplete-items div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

.autocomplete-active {
    background-color: #e9e9e9 !important; 
    color: #ffffff; 
}

#tagline {
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    margin: 0 0 0 0;
    padding: 2px;
}

/* Switch Styles */
.switch {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-left: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 3px;
    bottom: 3px;
    background-color: #d4d4d4;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #d4d4d4;
}

input:checked + .slider:before {
    transform: translateX(40px);
    background-color: white;
}

main {
    padding: 20px;
}

#main-anime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.anime-details {
    display: flex;
    align-items: flex-start;
}

.anime-details img {
    width: 280px;
    margin-right: 20px;
    border: 4px solid black;
    border-radius: 16px;
}

.anime-details div {
    display: flex;
    flex-direction: column;
}

.anime-details div p {
    margin: 0px 0; /* Adjust margin to reduce spacing */
    padding: 0; /* Remove padding */
    font-size: 1.5vw;
    max-width: 180vw;
}

.anime-details div h2 {
    font-size: 48px;
    margin: 2px 0;
    padding: 0;
    margin-bottom: 4px;
    line-height: 1em;
}

#d3-container {
    margin-left: 20px;
    width: 100%;
    height: 400px;
}

#recommendations {
    display: flex;
    flex-direction: column;
}

.recommendation {
    display: flex;
    align-items: center;
    background-color: inherit;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
    color: inherit;
    padding-right: 20px;
}

.rank {
    background-color: #eb345e;
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    margin-bottom: 20px;
}

.recommendation img {
    width: 180px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid black;
    border-radius: 12px;
}

.rank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
}

.similarity-meter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meter {
    width: 160px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: -20px;
}

.meter span {
    display: block;
    height: 100%;
    background-color: #53b3fc;
}

.details div {
    display: flex;
    flex-direction: column;
}

.details p {
    margin: 0px 0;
    padding: 0px 0;
    font-size: 1.3vw;
}

.details h3 {
    font-size: 32px;
    margin: 0px 0;
    padding: 0;
    margin-bottom: 4px;
    text-decoration: none;
    line-height: 1em;
}

.details h3:hover {
    text-decoration: underline;
}